/*.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}*/

/*.animate-show {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.animate-show.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  bottom:-200px;
  left: 200px;
}
*/

.animate-show {
  transition: all linear 0.5s;
  /*background-color: lightblue;*/
  height: 100px;
}

.animate-show.ng-hide {
  height: 0;
}
