.minefield {
line-height:0;
border-spacing:0;
}

.minefield td {
padding:0
}

.square{
    position: relative;
    width: 50px;
    overflow: hidden;
    
}

.red{
	background-color: #ff0000;
}

.gray{
	background-color: #e0e0d1;
}

.square:before{
    content: "";
    display: block;
    padding-top: 50px;
}
  .square-content{
      position:  absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black;
}

/*.winMsg {
  position: relative;
  z-index: 1000;
}
.loseMsg{
  position: relative;
  z-index: 1000;
}*/