<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script> 
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>  -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="css/minefieldGrid.css">
<body>
  <div ng-app = 'minesweeperApp'>
    <div ng-controller="minesweeperCtrl">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="container row">
    <h1>Minesweeper</h1>
    <div>
      <button class="btn-primary" ng-click="resetMinefield()">RESET</button>
      
      <button class="btn-primary" ng-click="startGame()">START</button>
    </div>  
      </div>
      <div class = "">
      <p>Score: {{wins}} Wins - {{losses}} Losses</p>

      <p>Time:  {{minutes}}:{{seconds}}</p>
      </div>
      <div ng-if="winMessage"><h2>You won!! Your Time: {{timer}} seconds!</h2>
      <button class="btn" ng-click = "resetMinefield()">Play Again</button>
      <button class="btn" ng-click = "quit()">Quit</button>
      </div>
      <div ng-if="loseMessage">
        <h2>You Lost!</h2>
        <button class="btn" ng-click = "resetMinefield()">Play Again</button>
        <button class="btn" ng-click = "quit()">Quit</button>
      </div>
      
      <table class = "minefield" border="1">
        <tr ng-repeat="row in minefield.rows">
          <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)" ng-right-click="flagSpot(spot)">  
            <img ng-if="spot.isCovered && !spot.flag" src="images/covered.png">
            <img ng-if="spot.isCovered && spot.flag" src="images/flag-mine.png">
            <img ng-if="!spot.isCovered && spot.content == 'empty' && !spot.flag" src="images/empty.png">
            <img ng-if="spot.reveal && !spot.mineBlast && spot.content == 'mine'" src="images/mine.png"/>
            <img ng-if="spot.reveal && spot.flag && spot.wrongFlag && !(spot.content == 'mine')" src="images/flag-mine-wrong.png"/>
            <img ng-if="spot.mineBlast && spot.reveal && spot.content == 'mine'" src="images/mine-wrong.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 1 && !spot.flag" src="images/number-1.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 2 && !spot.flag" src="images/number-2.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 3 && !spot.flag" src="images/number-3.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 4 && !spot.flag" src="images/number-4.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 5 && !spot.flag" src="images/number-5.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 6 && !spot.flag" src="images/number-6.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 7 && !spot.flag" src="images/number-7.png"/>
            <img ng-if="(!spot.isCovered || spot.reveal) && spot.content == 8 && !spot.flag" src="images/number-8.png"/>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4"></div>
    </div>
  </div>
</body>
<script src = "app.js"></script>
<!-- <script src = "minefieldClass.js"></script> -->
<script src = "controllers.js"></script>
<script src = "directives.js"></script>


</html>